.headingWrapper {
    margin: 0 auto;
    position: sticky;
    inset: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.192);
}

.header {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.nav {
    position: relative;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.nameAnchor {
    text-decoration: none;
    color: var(--color-primary-logo);
    display: flex;
    gap: 2rem;
    position: relative;
    font-size: 1.5rem;
}
.nameAnchor > span {
    font-weight: bolder;
}
.logo {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-tertiary);
}
.logo::after {
    font-family: cursive, "Fantasy";
    content: "A";
    transform: rotateZ(90deg);
    position: absolute;
    top: -5px;
}

.logo::before {
    position: absolute;
    font-family: cursive, "Fantasy";
    content: "A";
    transform: rotateZ(-90deg);
    top: 5px;
}

.nameWrapper {
    display: flex;
    gap: 1.5rem;
}

.upperUl {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.linkTag {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--color-text);
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    position: relative;
}

.upperLi {
    position: relative;
}

.upperLi::after {
    content: "";
    background-color: var(--color-text);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0%;
    border-radius: 10px;
}

.toggleDarkMode {
    cursor: pointer;

}

.active {
    --color-text: var(--color-active);
}

.upperLi:hover::after {
    width: 100%;
}

.linkTag::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 500px;
    border-radius: 5px;
    background-color: red;
}

.hamburgerWrapper {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger {
    height: 10px;
    display: none;
    width: 10px;
    position: relative;
    z-index: 3;
}
.hamburger::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -3px;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: var(--color-text);
    z-index: 3;
}
.hamburger::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -3px;
    width: 25px;
    height: 4px;
    border-radius: 5px;
    background: var(--color-text);
    z-index: 3;
}

.closeHamburger {
    height: 10px;
    display: none;
    width: 10px;
    position: relative;
    z-index: 3;
}
.closeHamburger::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -3px;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: var(--color-text);
    transform: rotateZ(-45deg);
    transform-origin: right;
}
.closeHamburger::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -3px;
    width: 25px;
    height: 4px;
    border-radius: 5px;
    background: var(--color-text);
    transform: rotateZ(45deg);
}

.phoneModal {
    position: fixed;
    top: 7rem;
    right: 1rem;
    left: 1rem;
    display: none;
    height: 70vh;
    z-index: 100;
    scroll-snap-type: none;
    overflow: hidden;
    animation: menu 0.5s linear forwards;
    background: var(--color-background);
    border-radius: 1rem;
}

.phoneModalShow {
    transform: translateX(200vw);
}

.upperUl_modal {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: relative;
    align-content: end;
    cursor: pointer;
}
.linkTag_modal {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-text);
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    position: relative;
    animation: linkAnimation 0.5s linear var(--delay);
}

@keyframes linkAnimation {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translate(100px);
    }
}

.upperLi_modal {
    position: relative;
}

.upperLi_modal::after {
    content: "";
    background-color: var(--color-text);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0%;
    border-radius: 10px;
}

.activeDark {
    --color-text: var(--color-secondary);
}
.activeLight {
    --color-text: var(--color-tertiary);
}

.upperLi_modal:hover::after {
    width: 100%;
}

.toggleDarkMode_modal {
    position: relative;
    margin-top: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.cutSvg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--color-background);
}

.toggleDarkMode_modal > svg {
    height: 3rem;
    width: 3rem;
}

.linkTag::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 500px;
    border-radius: 5px;
    background-color: red;
}

@keyframes pageScrollIndicatorAnim {
    to {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .linkTag {
        padding: 0.5rem .9rem;
    }
}
@media screen and (max-width: 768px) {
    .upperUl {
        display: none;
    }
    .toggleDarkMode {
        display: none;
    }
    .nav {
        padding: 0.5rem 1rem;
    }
    .hamburgerWrapper {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .closeHamburger {
        display: block;
    }
    .phoneModal {
        display: flex;
    }
}
