.footer {
    min-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background: #2a2a2a;
    position: relative;
    z-index: 4;
}

.tooltip {
    min-width: 10rem;
    position: absolute;
    background: rgba(107, 91, 91, 1);
    padding: 0.5rem;
    border-radius: 1rem;
    color: wheat;
    opacity: 0;
    top: -40px;
    visibility: hidden;
    transition: .5s ease-out;
    z-index: 3;
    transform: translate(-50%);
    
}
.tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    box-sizing: content-box;
    border-left: 15px solid rgba(107, 91, 91, 1);
    border-bottom: 15px solid rgba(107, 91, 91, 1);
    transform: rotateZ(-45deg);
}

.footer:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
