.header {
    display: flex;
    justify-content: start;
    align-items: center;
}
.textValue {
    font-weight: bolder;
    font-size: 3em;
    color: var(--color-active);
    position: relative;
    z-index: 3;
    letter-spacing: 3px;
}
.backGroundValue {
    color: var(--color-active-header);
    position: relative;
    z-index: 2;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .textValue {
        font-size: 1.5em;
    }
    .backGroundValue {
        font-size: 2.5rem;
    }
}
